<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex' }" />
      <q-breadcrumbs-el label="Cats" :to="{ name: 'CatsIndex' }" />
      <q-breadcrumbs-el label="Create" />
    </q-breadcrumbs>

    <h1>Create Cat Fact</h1>

    <q-form @submit.prevent="onSubmit">
      <q-input
        outlined
        v-model="fact"
        label="Fact"
        :rules="[value => !!value || 'A fact is Required']"
      />

      <q-btn type="submit" color="positive" label="Save Fact" class="q-mt-md" />
    </q-form>
  </q-page>
</template>

<script lang="ts" setup>
import useCatsStore from 'stores/cats'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const catsStore = useCatsStore()
const router = useRouter()

const fact = ref('')

function onSubmit () {
  catsStore.storeFact({ fact })
    .then(() => {
      router.push({ name: 'CatsIndex' })
    })
}
</script>
