<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex'}" />
      <q-breadcrumbs-el label="Cats" />
    </q-breadcrumbs>

    <h1>Cat Facts</h1>
    <q-btn label="+ Add New Fact" color="positive" class="q-mb-md" :to="{ name: 'CatsCreate' }" />

    <q-table
      :columns="columns"
      :rows="catsStore.facts"
      :loading="loading"
      v-model:pagination="pagination"
      @request="onRequest"
      :rows-per-page-options="[5, 10, 25, 50]"
    >
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn :to="{ name: 'CatsEdit', params: { id: props.row.id } }" color="primary" class="q-mr-sm" label="Edit" />
          <q-btn @click="deleteFact(props.row.id)" label="Delete" color="negative" />
        </q-td>
      </template>
    </q-table>

    <q-btn label="+ Add New Fact" color="positive" class="q-mt-md" :to="{ name: 'CatsCreate' }" />
  </q-page>
</template>

<script lang="ts" setup>
import useCatsStore from 'stores/cats'
import { onMounted, ref } from 'vue'

const loading = ref(false)

const catsStore = useCatsStore()

const columns = [
  {
    name: 'fact',
    label: 'Fact',
    field: 'fact',
    align: 'left'
  },
  {
    name: 'actions',
    label: 'Actions',
    field: null
  }
]

const pagination = ref({
  sortBy: 'desc',
  descending: false,
  page: 1,
  rowsPerPage: 5,
  rowsNumber: 0
})

function deleteFact (id: number) {
  if (confirm('Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!')) {
    catsStore.deleteFact(id)
      .then(() => {
        onRequest({ pagination: { page: pagination.value.page, rowsPerPage: pagination.value.rowsPerPage } })
      })
  }
}

function onRequest (props: { pagination: { page: number, rowsPerPage: number }}) {
  const { page, rowsPerPage } = props.pagination

  loading.value = true

  catsStore.getAllFacts({ pageSize: rowsPerPage, page })
    .then((resp) => {
      loading.value = false
      pagination.value.rowsPerPage = resp.data.per_page
      pagination.value.page = resp.data.current_page
    })
}

onMounted(() => {
  loading.value = true

  catsStore.getAllFacts({ pageSize: pagination.value.rowsPerPage })
    .then((resp) => {
      pagination.value.rowsNumber = resp.data.total as number
      loading.value = false
    })
})
</script>
